:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --white: #e6e9ef;
    --text: #cdd6f4;
    --subtext-1: #bac2de;
    --subtext-0: #a6adc8;
    --overlay-2: #9399b2;
    --overlay-1: #7f849c;
    --overlay-0: #6c7086;
    --surface-2: #585b70;
    --surface-1: #45475a;
    --surface-0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --fs-lg: 5rem;
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
    --fs-350: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--base);
}

.container {
    width: 100%;
    height: 50vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;}

.card {
    width: 55%;
    height: auto;
    padding: 2rem 0;
    background-color: var(--crust);
    color: var(--text);
    border-radius: 5px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    /* border: solid #fff; */
}

.card h2 {
    padding-bottom: 1rem;
}

.card form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 60%;
    height: 3.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 5px solid var(--lavender); 
    color: var(--mantle);   
}

input:focus {
    outline: none;
}

button {
    width: 7rem;
    height: 3.5rem;
    font-size: var(--fs-350);
    border-radius:  0 5px 5px 0;
    background-color: var(--lavender);
    color: white;
    border-style: none;
    transform: translate(-0.4rem);
}

button::before {
    content: "Download";
    padding: 0.5rem;
}

button:hover {
    cursor: pointer;
    background-color: var(--red);

}

@media only screen and (max-width: 800px) {
    .card {
        width: 100%;
    }

    /* input[type="text"] {
        width: 100%;
    } */

    button {
        width: 4rem;
        font-size: var(--fs-400);
    }

    button::before {
        content: "";
        padding: 0;
    }
}